# === Database ===
DATABASE_URL="postgresql://woojoowash:woojoowash_dev_pw@localhost:5432/woojoowash?schema=public"

# === NextAuth (Sprint 3) ===
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-random-string-via-openssl-rand-base64-32"

# === 3rd party (Sprint 4 이후) ===
# KAKAO_CLIENT_ID=
# KAKAO_CLIENT_SECRET=
# NAVER_CLIENT_ID=
# NAVER_CLIENT_SECRET=
# TOSS_CLIENT_KEY=
# TOSS_SECRET_KEY=
# NEXT_PUBLIC_KAKAO_MAP_APP_KEY=
